*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    height: 500px;
    width:250px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color:rgb(169, 122, 122);
}

#userinput{
    border-style: 1px grey;
    height:70px;
    width: 230px;
    background-color: burlywood;
    border-radius: 5px;
}
.keypad{
    padding: 10px;
    height: 80%;
}
.keypad button{
    border-radius: 50%;
     height: 40px;
     width:40px;
     border-style:none;
     margin:  10px 3px;
}